.coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #F5F7FA;

  &__title {
    color: #262626;
    font-size: 40rpx;
    font-weight: 600;
  }

  &__id {
    margin-top: 16rpx;
    color: #8C8C8C;
    font-size: 28rpx;
  }
}
